.pay{
  text-align: center;
  background-color: $colorGrayLight;
  &__steps {
    margin-top: 92px;
    display: grid;
    grid-template-columns: 245px 107px 245px 107px 245px;
    grid-gap: 63px;
    align-items: center;
    @include breakpoint-down(large){
      grid-template-columns: 245px 48px 245px 48px 245px;
      grid-gap: 17px;
    }
  }
  &__step {
    // border: 3px solid ;
    min-width: 245px;
    height: 245px;
    position: relative;
    display: flex;
    &-image{
      width: 65px;
      margin-bottom: 18px;
    }
    &-content{
      background-color: $colorGrayLight;
      height: 100%;
      width: 100%;
      padding: 58px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }
    &::before{
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      background-image: $btnBgGradien;
      border-radius: 50%;
      z-index: 1;
    }
  }
  &__btns{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow{
    width: 100%;
    overflow: hidden;
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
    i{
      &::before{
        background-image: $btnBgGradien;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }
}