// Colors
$orange: #CD6326;
$orange-hover: #E39128;
$orange-pressed: #8F5613;
$dark: #333333;
$gray: #666666;
$light-gray: #cccccc;
$light: #F7F7F7;


// Fonts
$default-font: 'Open Sans', sans-serif;
$logo-font: 'Roboto', sans-serif;