// =================================================================================================
.header {
  background-color: $headerBgColor;
  box-shadow: $shadow;
  padding: 26px 0;
  &__menu{
    margin-bottom: 4px;
    color: $menuColor;
    border-color: $menuColor;
  }
  &__logo{
    color: $colorHeaders;
  }
  &__content{
    @extend .flex-center;
    align-items: flex-end;
    @include breakpoint-down(medium) {
      align-items: center;
    }
  }
  &__menu{
    @include breakpoint-down(medium) {
      order: 2;
    }
  }
  &__btns{
    @include breakpoint-down(medium) {
        margin-left: auto;
        margin-right: 34px;
    }
  }
}

