.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ibg img{
    display: none;
}

// Other elements
// .text {
//     font-size: 16px;
//     line-height: 23 / 16 * 100%;
// }