// Variables
$defaulColor: #4F4F4F;
$colorGray: #828282;
$avatarColor: #BDBDBD;
$colorLine: #BDBDBD;
$colorBlack: #1B1B1B;
$colorGrayLight: #F2F2F2;
$colorWhite: #FEFEFE;
$hoverGreen: #4BD8B5;
$dotsColor: #C4C4C4;
$shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
// Logo
$colorHeaders: #333333;

// Header
$headerBgColor: #fff;
// Menu
$menuColor: #3C3C3C;

// Hello
$colorHello: #fff;


$gradientActive: linear-gradient(to right, #07EEE0, #DF496D);

// Btn
$btnBgGradien: linear-gradient(to right, #4BD8B5,#49D6DF);
$btnColor: #fff;

// Breakpoin
$small: 320;
$medium: 640;
$large: 1200;
$xlarge: 1920;

// Container Size
// Base Container
$maxWidthXLargeBase: 1200;
$maxWidthLargeBase: 900;
// $maxWidthMedium: 1916;
// $maxWidthSmall: 1916;

// Long Container
$maxWidthXLargeLong: 1620;
$maxWidthLargeLong: 900;
// $maxWidthMedium: 600;
// $maxWidthSmall: 299;

// Small Container
$maxWidthXLargeSmall: 790;
$maxWidthLargeSmall: 746;