@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');

/* Default style */
:root{
  --orage: #CD6326;
  --dark: #333333;
  --gray: #666666;
  --light-gray: #cccccc;
  --light: #F7F7F7;
  --default-font: 'Open Sans', sans-serif;
  --logo-font: 'Roboto', sans-serif;
}

html{
  font-size: 10px;
}

body{
  font-family: var(--default-font);
  font-size: 1.8rem;
  color: var(--light);
  line-height: 1.5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img{
  display: block;
  object-fit: contain;
}

a{
  color: inherit;
  text-decoration: none;
  line-height: inherit;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
  line-height: 1.5;
}

h1, h2 {
  font-size: 4.8rem;
}
h1 {
  color: var(--orage);
  letter-spacing: 2px;
}
h2{
  color: var(--dark);
}

h3{
  color: var(--dark);
  font-size: 2.7rem;
  margin-bottom: 2.26em;
}

h4{
  font-size: 2.2rem;
  line-height: 1.64;
  margin-bottom: 10px;
}

small{
  font-size: 1.7rem;
  line-height: 1.6;
}

.subheader{
  font-size: 2.4rem;
  color: var(--gray);
  margin-top: 20px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  line-height: 60px;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.9rem 0;
  /* background-color: #02160b; */
}

section{
  padding: 120px 0;
  background-color: var(--light-gray);
}

input{
  background-color: transparent;
  border: 1px solid var(--gray);
  padding-left: 0.6em;
  padding-right: 0.6em;
  font-size: 2.3rem;
  outline: none;
  color: var(--gray);
}

/* Btn style */
.btn{
  background: var(--orage);
  color: inherit;
  border: none;
  padding: 0.7em 1.83em;
  border-radius: 5px;
  font-size: 2.3rem;
}

.btn--outline{
  border: 2px solid var(--orage);;
  background: transparent;
}

/* Logo */
.logo{
  font-family: var(--logo-font);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 3.2rem;
}
.logo img{
  width: 70px;
  height: 60px;
  margin-right: 15px;
}

/* Menu */
.menu, .menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul{
  font-size: 2.3rem;
}
.menu ul li + li{
  margin-left: 61px;
  line-height: inherit;
}
.menu .btn{
  padding: 0 1em;
  line-height: 2.1;
  font-size: inherit;
}

/* Survival  */
.survival{
  background: url('./assets/images/hero_bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 779px;
  max-height: 100vh;
}

.survival__inner{
  padding-top: 80px;
  max-width: 274px;
}
.survival__content p {
  margin: 51px 0 49px 0;
}

/* Latest */
.latest{
  text-align: center;
}

/* Slider */
.slider {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.slider__items {
  display: flex;
  width: fit-content;
}

.slider__wrapper{
  max-width: 1020px;
  overflow: hidden;
  margin: 0 auto;
}

.slider__item{
  position: relative;
}
.slider__item + .slider__item {
  margin-left: 60px;
}
.slider__item-content{
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.arrow__prev{
  position: absolute;
  left: 0;
}
.arrow__next{
  position: absolute;
  right: 0;
}

/* Notified */
.notified{
  text-align: center;
  padding-bottom: 240px;
}

.form-notified{
  max-width: 660px;
  margin: 0 auto;
}

.form-notified__group{
  display: flex;
  height: 60px;
}

.form-notified__input{
  width: 100%;
}

.form-notified__btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 1.441em;
  padding-right: 1.441em;
}